* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Dosis", sans-serif;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
img {
    height: 30rem;
}

/*Header Starts*/
.header {
    box-shadow: 0px 4px 2px -0.005 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid #009da4;
    top: 0;
}

/*Header Ends*/
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow-x: hidden !important;
}

/*GRIDS START*/
.inner-container.grid {
    display: grid;
    grid-template-areas: "image form";
    grid-template-columns: repeat(2, 1fr);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-areas:
        "lead"
        "grid1"
        "btn"
        "prompt";
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead {
    grid-area: lead;
}
.grid1 {
    grid-area: grid1;
}

.login {
    grid-area: btn;
}
#prompt {
    grid-area: prompt;
}
/*GRIDS END*/

/*FORM*/
.form-grid label,
.login label {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    top: 0px;
}
.form-grid label:first-child {
    margin-bottom: 0.5rem;
}
i,
.login label i {
    position: absolute;
    bottom: 1.8rem;
    left: 18rem;
    width: 0.6rem;
    height: 0.6rem;
    padding-right: 1.5rem;
    z-index: -1;
    transition: all 0.7s ease-out;
    margin-bottom: 0.3rem;
}
.login label i {
    z-index: 1;
    color: #ffffff;
    font-size: 1.5rem;
    left: 13rem;
}
input {
    padding: 1rem;
    background: rgba(44, 44, 68, 0.6);
    border: none;
    border-radius: 10rem;
    outline: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0rem 4rem 2rem -0.005 rgba(0, 0, 0, 0.2);
    z-index: -1;
}
::placeholder {
    font-size: 1rem;
    color: #ffffff;
}

#login {
    border: none;
    outline: none;
    border-radius: 10rem;
    width: 20rem;
    padding: 1rem;
    color: white;
    background-color: #63dce2;
    font-size: 1.5rem;
    font-family: open sans;
}
small {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#login:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 239, 239, 0.6);
}
.loginActive {
    background-color: #009da4;
}

#prompt {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #a79e9e;
}

.flex-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#prompt a {
    text-decoration: none;
    color: #009da4;
}

#prompt a:hover {
    text-decoration: underline;
}
/*This class is added by javascript 
when the password reaches the user icons*/
.fadeOff {
    background: rgba(44, 44, 68, 0.6);
}

/*footer starts*/
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 1000;
}

footer .blue {
    color: #009da4;
}
/*footer ends*/

/*MEDIA QUERIES  STARTS*/
@media screen and (min-width: 48rem) {
}

@media screen and (max-width: 768px) {
    .form-grid {
        display: grid;
        grid-template-areas:
            "lead"
            "grid1"
            "grid2"
            "btn"
            "prompt";
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .lead {
        grid-area: lead;
    }
    .grid1 {
        grid-area: grid1;
    }
    .grid2 {
        grid-area: grid2;
    }
    .login {
        grid-area: btn;
    }
    #prompt {
        grid-area: prompt;
    }
}

@media screen and (max-width: 500px) {
    .inner-container.grid {
        display: grid;
        grid-template-areas:
            "image"
            "form";
        grid-template-columns: repeat(1, 1fr);
        overflow-x: hidden !important;
    }

    .form-img-wrapper img {
        height: 20rem;
    }

    .form-grid {
        display: grid;
        grid-template-areas:
            "lead"
            "grid1"
            "grid2"
            "btn"
            "prompt";
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        overflow-x: hidden !important;
    }
    .lead {
        grid-area: lead;
    }
    .grid1 {
        grid-area: grid1;
    }
    .grid2 {
        grid-area: grid2;
    }
    .login {
        grid-area: btn;
    }
    #prompt {
        grid-area: prompt;
    }
}
/*MEDIA QUERIES  ENDS*/
