* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Dosis", sans-serif;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
